@font-face {
    font-family: "Gilroy";
    src: url ("../css/a67167422ba63398c3b180ee9395860e/fonts/gilroy-bold.eot");
    src: url ("../css/a67167422ba63398c3b180ee9395860e/fonts/gilroy-bold.eot?#iefix") format("embedded-opentype") url(../css/a67167422ba63398c3b180ee9395860e/fonts/gilroy-bold.woff) format("woff") url(../css/a67167422ba63398c3b180ee9395860e/fonts/gilroy-bold.ttf) format("truetype");
    font-style: normal;
    font-weight: normal;
}